.popup-edit-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-edit-content {
  display: inline-block;
  background: white;
  border-radius: 3px;
  padding: 20px 25px;
  border-radius: 2px;
  background-color: #ffffff;
}

.popup-edit-head {
  margin-top: -20px;
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #6b7b82;
  border-radius: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
}

.popup-edit-title {
  display: inline-block;
}

.popup-edit-close {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.editTxtBox {
  display: none;
}

.popup-edit-table {
  border-collapse: collapse;
  width: auto;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.popup-edit-table th {
  background-color: #b5b2b4;
}

.popup-edit-table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.divButton {
  float: right;
}
.btnAddPopup {
  background-color: #b66e65;
  margin-right: 5px;
}

.btnSubmitPopup {
  background-color: #6b7b82;
}

.btnTrash {
  color: #FFA726;
  cursor: pointer;
}
.btnTrash:hover {
  color: #F57C00;
}

.btnOk {
  color: #AED581;
  cursor: pointer;
}
.btnOk:hover {
  color: #689F38;
}

.btnPencil {
  color: #80DEEA;
  cursor: pointer;
}
.btnPencil:hover {
  color: #26C6DA;
}

input {
    /*padding: 6px 10px;
    margin: 8px 0;*/
    width: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
